<div class="mainsection">
    <div class="aboutus">
        <h3>About Us</h3>
    </div>

    <div class="description">
        <h2>I am a passionate developer and artist, skilled in both software engineering and creative expression.I develop solutions that merge functionality with aesthetic appeal. As an artist, I explore different style we can create more effective design, using my knowledge of technology to enhance my work. I’m driven by the belief that logic and creativity can co-exist to build innovative and captivating experiences.</h2>
    </div>

    <div class="paragraf">
        As an artist, I enjoy expressing creativity through also like to explore different style artworks because everything around us it more beautiful 
    </div>

    <a href="/services" style="color: black;"> <div class="headbutton">
        check our projects
    </div></a>

</div>