<div class="mainsection">
    <div class="aboutus">
        <h3>About Us</h3>
    </div>

    <div class="description">
        <h2>We're just developing best IT product
            like 1990 software which not just the ui old but also software workablity is poor
        </h2>
    </div>

    <div class="paragraf">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet perferendis incidunt, dolorum voluptatem eaque molestiae delectus laboriosam assumenda ducimus natus labore officiis! Mollitia illum facilis dolorum odit! Perspiciatis, magnam velit.
    </div>

    <a href="/services" style="color: black;">    <div class="headbutton">
        check our projects
    </div></a>

</div>