<div id="Home">
    <div class="sideview">
        <img src="https://rajueditor.com/wp-content/uploads/2023/07/dp-for-facebook-profile-1024x1024.jpg" alt="My image" class="me">
        <div class="personalinfo">
            <h3 class="heading">About me</h3>
            <div class="underline"></div>
            <div class="easypara">
                Date of Birth : Aug,8,1999 <br>
                Age:25 <br>
                Gender : Male
                <br>
                Birth Place: Jaipur, Rajasthan
            </div>
        <div class="personalinfo">
            <div class="heading">Contact</div>
            <div>JAIPUR ,RAJASTHAN</div>
            <br>
            <SPAN>7733886925</SPAN>
            <span>leathfoxofficail45</span>
        </div>
        <div class="skills">
            <div class="heading">
                skills
            </div>
            <div class="circle" id="insertskills">
                <div class="skillname">html</div>
                <div class="numbertext">
                <div class="circlepercentage">
                    <span class="bgfill"></span>
                </div>
            </div>
            </div>

            <div class="circle" id="insertskills">
                <div class="skillname">Css</div>
                <div class="numbertex">
                <div class="circlepercentage">
                    <span class="bgfil"></span>
                </div>
            </div>
            </div>

            <div class="circle" id="insertskills">
                <div class="skillname">java-script</div>
                <div class="numbertext">
                <div class="circlepercentage">
                    <span class="bgfill"></span>
                </div>
            </div>
            </div>

            <div class="circle" id="insertskills">
                <div class="skillname">node js</div>
                <div class="numbertex">
                <div class="circlepercentage">
                    <span class="bgfil"></span>
                </div>
            </div>
            </div>

            <div class="knwoledge">
                <div class="heading">Expertise</div>
                <div id="insertknowlege">
                    <div class="skilllearn">
                    <div class="descriptioncompany">MS Office</div>
                    <div class="detaildes">
                        <div class="bar" style="width: 60%;"></div>
                    </div>
                </div>
                    <div class="numper">80%</div>
                </div>

                <div id="insertknowlege">
                    <div class="skilllearn">
                    <div class="descriptioncompany">Photoshop</div>
                    <div class="detaildes">
                        <div class="bar" style="width: 40%;"></div>
                    </div>
                </div>
                    <div class="numper">40%</div>
                </div>

                <div id="insertknowlege">
                    <div class="skilllearn">
                    <div class="descriptioncompany">After Effect</div>
                    <div class="detaildes">
                        <div class="bar" style="width: 70%;"></div>
                    </div>
                </div>
                    <div class="numper">70%</div>
                </div>

                <div id="insertknowlege">
                    <div class="skilllearn">
                    <div class="descriptioncompany">Blender</div>
                    <div class="detaildes">
                        <div class="bar" style="width: 90%;"></div>
                    </div>
                </div>
                    <div class="numper">90%</div>
                </div>
                
            </div>
        </div>
        </div>
    </div>
    <div class="leftview">

        <div class="education">

            <div class="heading">Education</div>

            <h1 class="heading">Bachlore Degree(B.tech in Computer Science)</h1>
            <div class="year">2018-2022</div>
            <div class="details">I did my B.tech from Shree Bhawani niketan Institute and technology and management. Which is in sikar road</div>

            <h1 class="heading">Senior Seconday Qualification(12th ) </h1>
            <div class="year">2017-2018</div>
            <div class="details">I did my Senior Seconday from Ball vishwa bharti senior seconday school which is in bani park</div>

            <h1 class="heading">Seconday Qualification(10th)</h1>
            <div class="year">2015-2016</div>
            <div class="details">I did my Secondary qualification from Green ball Seconday School which is in shastri nagar.</div>


        </div>

        <!-- experience -->

        <div class="education">

            <div class="heading">Experience</div>

            
            <h1 class="heading" >Redigit Software</h1>
            <h3>UI and UX DESIGNER</h4>
            <div class="year">2024-2024</div>
            <div class="details">Currently i am working with Redigit software where i am working on kmp(kotlin multiplatfrom project) here is the github Link you can visit <a href="https://github.com/RedigitSoft/musearchive">Here</a> </div>


            <h1 class="heading" >SP ENTERPRISES</h1>
            <h3>Back Office Executive</h4>
            <div class="year">2023-2024</div>
            <div class="details">My work duration with Sp Enterprises quite fun i work with them as back office executive and during my work i honestly play a important role to time to time finish my role</div>

            <h1 class="heading">MVS E-commerce</h1>
            <h3>Shopify Theme Developer</h3>
            <div class="year">2022-2022</div>
            <div class="details">In this job i work as Theme developer and also content writer for e-commerce store</div>

            <h1 class="heading">Data Reserch analysis</h1>
            <h3>Indian Business venture</h3>
            <div class="year">2023-2023</div>
            <div class="details">In this job i work as Theme developer and also content writer for e-commerce store</div>


        </div>

    </div>
</div>