
<div class="artwork" style="    display: inline-flex;flex-wrap: wrap;
align-content: flex-end;
justify-content: space-around;
align-items: flex-end;">
    <!-- First video -->
    <video width="600" controls  class="artworkimages" >
        <source src="../images/artwork/artwork (1).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Second video -->
    <video width="600" controls  class="artworkimages" >
        <source src="../images/artwork/artwork (2).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Third video -->
    <video width="600" controls  class="artworkimages">
        <source src="../images/artwork/artwork (3).mp4" type="video/mp4" >
        Your browser does not support the video tag.
    </video>

    <!-- Fourth video -->
     <video width="600" controls  class="artworkimages">
        <source src="../images/artwork/artwork (4).mp4" type="video/mp4">
        Your browser does not support the video tag.
     </video>

        <!-- Fourth video -->
        <video width="600" controls class="artworkimages" >
            <source src="../images/artwork/artwork (5).mp4" type="video/mp4" >
            Your browser does not support the video tag.
        </video>

    <!-- Images -->
    <img src="../images/artwork/artwork (3).jpeg" alt="" class="artworkimages" style="max-width: 40%;
    display: inline-flex;" >
    <img src="../images/artwork/artwork (4).jpeg" alt="" class="artworkimages" style="max-width: 40%;
    display: inline-flex;">
    <img src="../images/artwork/artwork (5).jpeg" alt="" class="artworkimages" style="max-width: 40%;
    display: inline-flex;">
    <img src="../images/artwork/artwork (6).jpeg" alt="" class="artworkimages" style="max-width: 40%;
    display: inline-flex;">
    <img src="../images/artwork/artwork (1).jpeg" alt="" class="artworkimages" style="max-width: 40%;
    display: inline-flex;">
    <img src="../images/artwork/artwork (2).jpeg" alt="" class="artworkimages" style="max-width: 40%;
    display: inline-flex;">
</div>

<div class="services" style="display: inline-flex;flex-wrap: wrap;
align-content: flex-end;
justify-content: space-around;">
    <div class="box">
        <div class="img">
            <img src="https://img.freepik.com/free-vector/watercolor-back-school-background-with-white-space_52683-41450.jpg?t=st=1713192714~exp=1713196314~hmac=8ae889b169556b194ffe2314d9a31c532965db76fad6b8413e740e07866bac91&w=996" alt="Stock Images">
        </div>
        <h3>Animator</h3>
        <div class="paragraf">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae porro, nemo veritatis aliquam error numquam quaerat iure quasi? Perspiciatis fugiat at aperiam quaerat tenetur!</div>
        
        <a href="/contact"><button onclick="Start" class="btn">Start</button> </a>
    </div>


    <div class="box">
        <div class="img">
            <img src="https://img.freepik.com/free-psd/peacock-flower-isolated-transparent-background_191095-33374.jpg?t=st=1713193579~exp=1713197179~hmac=9119c2131dd8950f397508899d67b0bca51a7de00a8002de18cc31b7d0598b22&w=996" alt="Stock Images">
        </div>
        <h3>Web Developer</h3>
        <div class="paragraf">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae porro, nemo veritatis aliquam error numquam quaerat iure quasi? Perspiciatis fugiat at aperiam quaerat tenetur!</div>
        
        <a href="/contact"><button  class="btn">Start</button>
    </div></a>

    <div class="box">
        <div class="img">
            <img src="https://img.freepik.com/free-vector/people-creating-social-media-landing-page_52683-38062.jpg?t=st=1713192053~exp=1713195653~hmac=a414f561a400c7acaffb53b2d3d115ee1df197fa1144dc8132efc81779199ab0&w=996" alt="Stock Images">
        </div>
        <h3>Game Developer</h3>
        <div class="paragraf">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae porro, nemo veritatis aliquam error numquam quaerat iure quasi? Perspiciatis fugiat at aperiam quaerat tenetur!</div>
        
        <a href="/contact"><button onclick="Start" class="btn">Start</button></a>
    </div>

</div>